numpy
shortuuid
jsonschema==4.0.1
openai==0.28.0
pydantic==1.10.12
jupyter-client==8.4.0
faiss-cpu==1.7.1
pyyaml==5.4.1
python-docx=1.0.1
tiktoken==0.5.1
anthropic==0.3.11
tenacity==8.2.3
langchain==0.0.314